<header>
  <img src="assets/pictograms.png" alt="LogoG">
  <h1>Installations Sportives - France</h1>
  <img src="assets/pictograms.png" alt="LogoR">
</header>

<form>
  <label for="region">Choisissez une région :</label>
  <select id="region" name="region" (change)="selectRegion($event.target.value)">
    <option disabled selected value>...</option>
    <option *ngFor="let region of regions" [value]="region">{{region}}</option>
  </select>
</form>

<form *ngIf="departments.length > 0">
  <label for="department">Choisissez un département :</label>
  <select id="department" name="department" (change)="selectDepartment($event.target.value)">
    <option disabled selected value>...</option>
    <option *ngFor="let department of departments" [value]="department">{{department}}</option>
  </select>
</form>

<p *ngIf="sports.length > 0">
  Voici la liste des sports disponibles dans le département <strong>{{selectedDepartment}}</strong> de la région <strong>{{selectedRegion}}</strong> :
</p>

<div *ngIf="sports.length > 0" class="sports-container">
  <button *ngFor="let sport of sports.slice(1)" class="sport-item" (click)="getCommunes(sport)">{{sport}}
    <div *ngIf="selectedSport === sport" class="commune-list">
      <p class="commune-intro" *ngIf="communes.length > 0">
        Voici la liste des communes<br>dans lesquelles<br>vous pouvez faire le sport<br><strong>{{selectedSport}}</strong> :
        </p>
      <div *ngFor="let commune of communes">{{commune}}</div>
    </div>
  </button>
</div>

<footer>
  <p>Projet réalisé par Margaux Peguy</p>
  <p>Lors du Master 1 Informatique - Année universitaire 2023-2024</p>
  <p>Pour la l'UE Technologies Internet et Web - Semestre 2</p>
  <p>À l'université <a href="https://www.univ-paris8.fr/" target="_blank">Paris 8</a></p>
</footer>